<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <a href="/agregar-productos" class="btn t">Agregar Producto</a>
            </div>
            <div class="card-body">
            <table class="table table-striped" style="background-color: #f3ceff ;">
                <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Para quien</th>
                        <th>Descripción</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.id}}</td>
                        <td>{{producto.producto}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.stock}}</td>
                        <td>{{producto.quien === 'Mujer' ? 'Mujer' : 'Hombre'}} </td>
                        <td>{{producto.descripcion}}</td>
                        <td>
                            <a href="/editar-productos/{{producto.id}}" class="btn btn-primary">Editar</a>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="eliminar(producto.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
