<body>
  <main id="main">

    <section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/imagenes/marcas/marca1.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/imagenes/marcas/marca2.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/imagenes/marcas/marca3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/imagenes/marcas/marca4.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
            <img src="assets/imagenes/marcas/marca5.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about">
        <div class="container">
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <h2>Sobre Nosotros "Tienda de Ropa"</h2>
              <img src="assets/imagenes/portada2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
              <p>
                Nada grita más clase y profesionalidad que un sentido de la moda pulido. Desde dejarse el pelo suelto hasta llevar zapatos 
                pulidos, un look pulido sugiere que tienes confianza en ti mismo. Este tipo de look puede ayudarte a destacar entre la 
                multitud de tus compañeros.
                Para dar un toque de estilo, lo primero que hay que hacer es prescindir de la ropa holgada. Además, debes alejarte de las 
                prendas del mercado de masas; nada de lo que se vende en masa es lo suficientemente elegante para la oficina.
                Con su aspecto sencillo y funcional, su transpirabilidad y su nivel de comodidad, no puedes culpar a la gente por elegir
                la ropa deportiva. Además, nunca se puede adivinar si esas personas acaban de pasar horas preocupadas por un look o sudando 
                en el gimnasio.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i>Misión: Proveer de una línea de ropa y accesorios orientales con productos de importación </li>
                <li><i class="ri-check-double-line"></i>Visión: Ser la tienda de renombre en todos los estilos a manera de que el consumidor acuda a nostros
                por la diversidad de ropa, accesorios, y asesoría en moda de tosos los estilos.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="why-us" class="why-us">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
              <div class="content">
                <h3>¿Por qué escoger la "Tienda de Ropa"?</h3>
                <p>
                    Porque somos una boutique de ropa importada que brinda las últimas tendencias en moda oriental; mismas que van desde 
                    los últimos looks hasta el estereotipo tradicional.
                    El punto de nuestra boutique es que los clientes encuentren todo lo necesario para un estilo oriental en nuestra sucursal.
                </p>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Hombre</h4>
                      <img src="assets/imagenes/genero/hombre.jpg" class="img-fluid" alt="">
                      <li>Camisas</li>
                      <li>Chalecos</li>
                      <li>Pantalones</li>
                      <li>Chamarras</li>
                      <li>Accesorios</li>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Mujer</h4>
                      <img src="assets/imagenes/genero/mujer.jpg" class="img-fluid" alt="">
                      <li>Blusas</li>
                      <li>Chalecos</li>
                      <li>Pantalones</li>
                      <li>Chamarras</li>
                      <li>Accesorios</li>
                      <li>Calzado</li>
                      <li>Vestidos</li>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>Niños</h4>
                      <img src="assets/imagenes/genero/ninos.png" class="img-fluid" alt="">
                      <li>Pantalones</li>
                      <li>Chamarras</li>
                      <li>Accesorios</li>
                      <li>Calzado</li>
                      <li>Uniformes</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>
</body>